/* Integrantes do Grupo:
Anderson Cleyton Ferreira Junior
Daniel Filho Oliveira Lima
Felipe Claudiano Synthes
Pedro Gustavo De Campos Teixeira Silva
Pedro Roceti Pache */

@media screen and (max-width: 760px){

    header{
        flex-direction: column;
    }

    main{
flex-direction: column;

    }

    h2{
        font-size: 38px;
    }

    form{
        margin: 0 auto;
        width: 100%;
    }

    input{
        align-self: center;
    }

    img{
        display: none;

    }

    ul{
        text-align: center;
    }
}