:root {
    --cinza: #DDDDDD;
    --verdemusgo: #5E865C;
    --cinzaescuro: #545454;
    --marrom: #846642; 
    --dourado: #F0CA66;
    --preto: #000;
}

body {
    background-color: #DDDDDD;
    color: #232020;
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title{
    flex-direction: column;
    line-height: 10px;
}

li{
    display: inline-block;
    margin: 20px;

}

a{
    color: var(--preto);
}

a :hover{

    color: var(--marrom);
    transition: 0.3s all;
}

#inscreva-se-btn {

    border: 2px solid var(--verdemusgo);
    padding: 10px;
    border-radius: 15px;
}

#inscreva-se-btn :hover{
    background-color: solid var(--preto);
    color: var(--marrom);

}

h1{
    font-weight: 200;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2 {
    font-size: 56px;
    line-height: 10px;
    font-family: poppinsmedium;
}

span{
    color: var(--verdemusgo);
}

p{
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
}

img{
    scale: 125%;
    width: 400px;
    margin-left: 160px;
    
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: var(--verdemusgo);
    color: var(--cinza);
    font-size: bold;
}

form [type="submit"]:hover{
     cursor: pointer;
}

input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}
